body {
  margin: 0;
  background: black;
  color: white;
  font-family: sans-serif;
}

.feed {
  height: 100vh;
  overflow-y: scroll;
}

.video-card {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.video {
  width: 100%;
  height: 100%;
  border: none;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
